@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body {
  margin: 0 auto;
  padding: .25em;
}

main {
  background-image: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a:link {
  color: #AC2276;
}

a:visited {
  color: #0F52BA;
}

a:hover {
  color: #6FFFE9;
}
