{% extends "base.html" %}
    {% block title %}{{ headingOne }}'s Latest Blog{% endblock %}
    {% block metacontent %}{% endblock %}

        {% block h1 %}{{ headingOne }}'s blog{% endblock %}

        {% block main %}
            {% if headingOne == 'Aaron' %}
                <iframe src="{{ url_for( 'render_blog', dir='/static/assets/', twoInitials='aa', filename='blog.txt' ) }}"></iframe>
            {% elif headingOne == 'Maggie' %}
                <iframe src="{{ url_for( 'render_blog', dir='/static/assets', twoInitials='ma', filename='blog.txt' ) }}"></iframe>
            {% endif %}
        {% endblock %}