{% extends "base.html" %}
    {% block title %}This is Us!{% endblock %}
    {% block content %}The blog home page of Aaron and Maggie Bechtel!{% endblock %}

        {% block h1 %}Welcome To... US!!!{% endblock %}

        {% block main %}
            <div>{{ randomWord }}</div>
            <h2>Hello!</h2>
            <p>
                We all have a lot to say, but what good is that if our voice isn't heard? For that, we present to you... <strong>our blog!</strong>
            </p>

            <article id="aaron">
                <h3>Aaron's Introduction</h3>
                <p class="intro"></p>
                <a href="{{ url_for( 'post_blog', template='blog.html', headingOne='Aaron' ) }}">Aaron's latest blog</a>
            </article>
            
            <article id="maggie">
                <h3>Maggie's Introduction</h3>
                <p class="intro"></p>
                <a href="{{ url_for( 'post_blog', template='blog.html', headingOne='Maggie' ) }}">Maggie's latest blog</a>
            </article>
        {% endblock %}