{% extends "base.html" %}
{% block title %}Password Test{% endblock %}

{% block h1 %}Password Test{% endblock %}
{% block main %}
    {% include 'flash-messages.html' %}

    {% if username %}
        <h2>Username: {{ username }}</h2>
        <h2>Password: {{ password }}</h2>

    {% else %}
        <form method="POST" action="{{ url_for('password_test') }}">
            {{ form.hidden_tag() }}
            
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}

            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}

            {{ form.submitBtn() }}
        </form>
    {% endif %}
{% endblock %}